<a href="https://colab.research.google.com/github/vsnupoudel/data-science-capstone-JohnsHopkins/blob/master/Embedding_Prediction_instead_for_Next_word_Prediction_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Download the text files and the Embedding file

In [4]:
!gdown --id 1hlvOXJqe3fdxjQilNfLRwPud_KWcOVEE -O '/content/en_US.zip'

Downloading...
From: https://drive.google.com/uc?id=1hlvOXJqe3fdxjQilNfLRwPud_KWcOVEE
To: /content/en_US.zip
262MB [00:08, 30.8MB/s]

In [5]:
!unzip -o en_US.zip

Archive:  en_US.zip
  inflating: en_US/en_US.blogs.txt
  inflating: en_US/en_US.news.txt
  inflating: en_US/en_US.twitter.txt

In [6]:
!gdown --id 1r3MHZdvnlC_BG8z6Jr1td-zJTC2GdqYK -O 'glove.6B.50d.txt'

Downloading...
From: https://drive.google.com/uc?id=1r3MHZdvnlC_BG8z6Jr1td-zJTC2GdqYK
To: /content/glove.6B.50d.txt
171MB [00:01, 130MB/s]

In [7]:
# # establish connections with three files 
with open('./en_US/en_US.blogs.txt','r') as f:
  blogs= f.readlines(199999)

References :


 [Towards Data Science Article](https://towardsdatascience.com/exploring-the-next-word-predictor-5e22aeb85d8f)

[Machine Learning Mastery](https://machinelearningmastery.com/use-word-embedding-layers-deep-learning-keras/)

In [8]:
string = ' '.join(blogs) 
del blogs

In [9]:
from keras.preprocessing.text import Tokenizer
import nltk
from nltk.tokenize import word_tokenize
import numpy as np
import re
# from keras.utils import to_categorical

In [10]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

Removing non word characters

In [11]:
string = re.sub(pattern='\W+', repl=" ", string = string ).lower()

Tokenize and generate ngrams

In [12]:
tokens = word_tokenize(string)
train_len = 3
text_sequences = []

for i in range(train_len,len(tokens)):
  seq = tokens[i-train_len:i]
  text_sequences.append(seq)

In [13]:
text_sequences[0:5]

[['in', 'the', 'years'],
 ['the', 'years', 'thereafter'],
 ['years', 'thereafter', 'most'],
 ['thereafter', 'most', 'of'],
 ['most', 'of', 'the']]

Read in 50 dimensional embeddings

In [14]:
import pandas as pd
import numpy as np
colnames = ['word']+[ 'dim_'+str(i) for i in range(1,51)]
Embed50 = pd.read_csv('glove.6B.50d.txt', engine='python'
                  ,header=None, delim_whitespace=True ,
                  names = colnames)
Embed50.head(2)

  word     dim_1    dim_2    dim_3  ...    dim_47   dim_48    dim_49   dim_50
0  the  0.418000  0.24968 -0.41242  ...  0.002785 -0.18411 -0.115140 -0.78581
1    ,  0.013441  0.23682 -0.16899  ... -0.378180 -0.56657  0.044691  0.30392

[2 rows x 51 columns]

Tokenizer class from keras.preprocessing.text

In [15]:
# del tokens
# del seq
# del string

Delete those rows which have words, that are not there in the pretrained embeddings. Found 100 such sequences

In [16]:
embedlist = list(Embed50.word)
delete_list = []
for seq in text_sequences:
  check =  all(item in embedlist for item in seq)
  if not check:
    delete_list.append(seq)

text_sequences_del = [x for x in text_sequences if x not in delete_list]
del text_sequences

In [17]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(text_sequences_del)
sequences = tokenizer.texts_to_sequences(text_sequences_del)
#vocabulary size increased by 1 
vocabulary_size = len(tokenizer.word_counts)+1
n_sequences = np.asarray ( sequences , dtype='int32')

In [18]:
dic = pd.DataFrame( tokenizer.word_index.items(), columns= ['word','index'])

In [19]:
dic.head(2)

  word  index
0  the      1
1   to      2

In [32]:
Embed50.head(2)

  word     dim_1    dim_2    dim_3  ...    dim_47   dim_48    dim_49   dim_50
0  the  0.418000  0.24968 -0.41242  ...  0.002785 -0.18411 -0.115140 -0.78581
1    ,  0.013441  0.23682 -0.16899  ... -0.378180 -0.56657  0.044691  0.30392

[2 rows x 51 columns]

In [ ]:
word_embeds_pre = pd.merge(
    left = dic,
    right = Embed50 ,
    how="inner",
    on="word" ).iloc[: , 2:52]

In [21]:
word_embeds_pre.shape

(6957, 50)

In [22]:
word_embeds_pre.head(2)

     dim_1     dim_2    dim_3    dim_4  ...    dim_47    dim_48    dim_49   dim_50
0  0.41800  0.249680 -0.41242  0.12170  ...  0.002785 -0.184110 -0.115140 -0.78581
1  0.68047 -0.039263  0.30186 -0.17792  ... -0.094340 -0.073297 -0.064699 -0.26044

[2 rows x 50 columns]

In [23]:
# X and Y
train_inputs = n_sequences[:,:-1]
train_targets = n_sequences[:,-1]
# train_targets = to_categorical(  train_targets 
#                               , num_classes = vocabulary_size  )
seq_len = train_inputs.shape[1]

In [24]:
train_inputs.shape

(36584, 2)

In [25]:
train_targets.shape

(36584,)

In [46]:
y_list = list( np.asarray( text_sequences_del)[: , -1])
ydf = pd.DataFrame( data = y_list, columns = ['word'])
ydf.head(2)

         word
0       years
1  thereafter

In [49]:
outcome = pd.merge(
    left = ydf,
    right = Embed50 ,
    how="left",
    on='word' )

train_targets = outcome.iloc[: , 1:52]

In [50]:
train_targets.head(2)

      dim_1     dim_2     dim_3    dim_4  ...    dim_47   dim_48   dim_49    dim_50
0  0.169620  0.434400 -0.042106 -0.63324  ... -0.499180 -0.50108 -0.77040 -0.322340
1 -0.083242 -0.023838 -0.083964 -0.64821  ...  0.017039 -0.86755 -0.32626  0.043695

[2 rows x 50 columns]

In [51]:
# Define model
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Embedding
model = Sequential()
embed_layer = model.add(Embedding( input_dim = vocabulary_size-1
                                  , output_dim = 50 
                                  , input_length = seq_len
                                  , weights = [word_embeds_pre]
                                  , trainable = False
                                   ) )
model.add(LSTM(100,return_sequences=True))
model.add(LSTM(50))
model.add(Dense(100,activation='relu'))
model.add(Dense(50))

# compiling the network
model.compile(loss='mse', optimizer='adam'
, metrics=['mse', 'mae'])

In [52]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 2, 50)             347850
_________________________________________________________________
lstm_2 (LSTM)                (None, 2, 100)            60400
_________________________________________________________________
lstm_3 (LSTM)                (None, 50)                30200
_________________________________________________________________
dense_2 (Dense)              (None, 100)               5100
_________________________________________________________________
dense_3 (Dense)              (None, 50)                5050
=================================================================
Total params: 448,600
Trainable params: 100,750
Non-trainable params: 347,850
_________________________________________________________________

In [ ]:
#fit model
model.fit(train_inputs,train_targets,epochs=55,verbose=1)

Epoch 1/55
1144/1144 [==============================] - 27s 5ms/step - loss: 0.2768 - mse: 0.2768 - mae: 0.3881
Epoch 2/55
1144/1144 [==============================] - 5s 5ms/step - loss: 0.2520 - mse: 0.2520 - mae: 0.3767
Epoch 3/55
1144/1144 [==============================] - 5s 5ms/step - loss: 0.2495 - mse: 0.2495 - mae: 0.3751
Epoch 4/55
1144/1144 [==============================] - 5s 5ms/step - loss: 0.2488 - mse: 0.2488 - mae: 0.3743
Epoch 5/55
1144/1144 [==============================] - 5s 5ms/step - loss: 0.2465 - mse: 0.2465 - mae: 0.3728
Epoch 6/55
1144/1144 [==============================] - 5s 5ms/step - loss: 0.2461 - mse: 0.2461 - mae: 0.3728
Epoch 7/55
1144/1144 [==============================] - 5s 5ms/step - loss: 0.2434 - mse: 0.2434 - mae: 0.3707
Epoch 8/55
1144/1144 [==============================] - 5s 5ms/step - loss: 0.2414 - mse: 0.2414 - mae: 0.3690
Epoch 9/55
 543/1144 [=============>................] - ETA: 2s - loss: 0.2393 - mse: 0.2393 - mae: 0.3675

In [ ]:
train_targets.shape

Predicting:

In [ ]:
from keras.preprocessing.sequence import pad_sequences

input_text = input().strip().lower()
encoded_text = tokenizer.texts_to_sequences([input_text])[0]
print( 'tokenizer.texts_to_sequences([input_text]): ', tokenizer.texts_to_sequences([input_text]))
print( 'encoded_text: ', encoded_text)
pad_encoded = pad_sequences([encoded_text], maxlen=seq_len, truncating='pre')
print('pad_encoded: ', pad_encoded)
# print('input: ', input_text, '\nencoded text: ', encoded_text
#       , '\n pad encoded: ' , pad_encoded)

This is
tokenizer.texts_to_sequences([input_text]):  [[19, 10]]
encoded_text:  [19, 10]
pad_encoded:  [[19 10]]

In [ ]:
for i in (model.predict(pad_encoded)[0]).argsort()[-3:][::-1]:
  pred_word = tokenizer.index_word[i]
  print("Next word suggestion:",pred_word)

Next word suggestion: a
Next word suggestion: highly
Next word suggestion: how

In [ ]:
# model.predict( )
model.predict( train_inputs[1, :] )

array([[6.0213956e-10, 2.3910586e-08, 1.3352964e-05, ..., 1.2894859e-19,
        5.6390620e-10, 5.5587966e-22],
       [2.4292674e-15, 1.9791640e-02, 3.1334955e-02, ..., 2.7527061e-29,
        2.1765680e-15, 1.0400500e-28]], dtype=float32)

In [ ]:
train_inputs[1, :]

NameError: ignored